.dashboard-container {
  display: flex;
  min-height: 100vh;
}
.dashboard-main {
  flex: 1;
  padding: 2rem;
  background: #f7f8fa;
}

.logout-btn {
  background: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 0 24px;
  height: 40px;
  cursor: pointer;
  transition: background 0.2s;
}
.logout-btn:hover {
  background: #222;
}
